<!--Pipe allows to apply a transformation on the targeted data-->
<!--titlecase transforms text to title case. 
Capitalizes the first letter of each word and transforms the rest of the word to lower case.-->
<p>Purchases from {{ company | titlecase }} on:</p>
<!--Formats a date value according to locale rules.-->
<p>default - {{ purchasedOn | date }}</p>
<p>full - {{ purchasedOn | date: 'full' }}</p>
<!--Transforms a number to a currency string, formatted according to locale rules 
that determine group sizing and separator, decimal-point character, and other 
locale-specific configurations.-->
<p>Total default: {{ amount | currency }}</p>
<p>Total eur: {{ amount | currency: 'EUR' }}</p>

<p>Custom pipe: {{ company | customPipe }}</p>
<p>Custom pipe: {{ amount | customPipe }}</p>
<p>Custom pipe: {{ undefined | customPipe }}</p>
